body{
    margin: 0px;
    font-family: cursive;
}
.navbar{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(40, 39, 39);
    align-items: center;
    height: 80px;
    margin-right:auto;
    cursor: pointer;
}
.nav-item{
    color: white;
    font-size: 20px;
    margin-right:20px;
    margin-left: 15px;
    text-decoration: none;
}
#selectmsg{
    border-radius: 10px;
    border: none;
    padding: 5px;
    margin-left:auto;
    font-family: cursive;
}