.main-container{
    margin-left:auto;
    margin-right:auto;
    background-color:rgb(40, 39, 39) ;
    height:400px;
    width: 300px;
    padding:15px;
    color:white;
    margin-top: 30px;
    border-radius: 10px;
}
#welmsg{
    text-align:center;
}
#desmsg{
    text-align:center;
}
#selectmsg{
    border-radius: 10px;
    border: none;
    padding: 5px;
    margin: 5px;
}
#greetmsg{
    text-align:center;
}
#endmsg{
    text-align:center;
}