.bestwishes{
    font-family: cursive;
    /* padding-left: 35px; */
    text-align: center;
}
.carousel {
    width: 100%; 
  }
  
  .carousel img {
    /* width: 100%;  */
    height: auto; 
  }

.goodwishesquotes{
    font-family: cursive;
    padding: 5px;
    height: auto;
    text-align: center;
    border: none;
    background-color: rgb(248, 245, 246);
    border-radius: 20px;
    box-shadow: inset;
    box-shadow: 1px 1px 0px 0px rgb(82, 82, 82);
    margin: 20px;
}
.goodwishes{
    font-family: cursive;
    text-align: center;
    padding-top: 10px;
}
.birthdaywishes{
    font-family: cursive;
    text-align: center;
    padding-top: 10px;
}
.cards{
    margin: 30px;
}
#bestwishesimage{
    justify-content: center;
    margin-left: 160px;
    margin-top: 30px;
    display: inline-block;
    height: 400px;
}